<section class="main-preview-player">
  <div id="instructions">
    <% if @movie.status_link? %>
      <video class="video-js vjs-default-skin" controls preload="auto" width="700" height="400" poster="<%= @movie.photo %>" data-setup="{}">
        <source src="<%= @movie.link_movie %>" type="video/mp4">
      </video>
    <% else %>
      <%= image_tag "logo.png", id: "player_logo" %>
      <iframe src="https://drive.google.com/file/d/0B7kOlRv8XBC3QjBDN2dEZmUtd2s/preview" width="700" height="400" allowfullscreen></iframe>
    <% end %>
    <%= render "shared/facebook" %>
    <%= render "shared/impression" %>
  </div>
</section>
<div class="container">
  <div class="description_movie">
    <h3 id="title_movie">
      <%= @movie.title %>
    </h3>
    <div class="text-left">
      <%= t "movies.popover.category" %>
      <%= render "contain_category" %>
    </div>
    <div class="text-left">
      <%= t "movies.popover.publish_date" %><%= @movie.year_number %>
    </div>
    <hr>
    <div class="wall">
      <div id="description_movie">
        <%= @movie.description %>
      </div>
    </div>
    <div class="movie-suggestion">
      <%= render "suggestion_movie" %>
    </div>
    <div id="paginator-suggest-movie">
      <%= render "shared/pagenator", objects: @movie_suggestions, page: 3 %>
    </div>
  </div>
</div>
