<section class="main-preview-player">
  <div id="instructions" rel="noindex, nofollow">
    <% if @movie.link.status_link? %>
      <div id="player" data-default="<%= @movie.link.url_default %>" data-hd="<%= @movie.link.url_hd %>" data-sub="<%= @movie.link.subtitle %>"></div>
    <% else %>
      <%= image_tag "logo.png", id: "player_logo" %>
      <% if @movie.cinema? %>
        <iframe src="<%= @movie.link.url_default %>" width="700" height="400" allowfullscreen></iframe>
      <% else %>
        Sorry This movie is processing with new media player if you need to watch movie later please contact to: https://www.facebook.com/moviehdkh/
      <% end %>
       <noembed><%= @movie.title %></noembed>
    <% end %>
    <%= render "shared/facebook" %>
    <%= render "shared/impression" %>
  </div>
  <div id="SC_TBlock_108990" class="SC_TBlock">loading...</div>
  <script type="text/javascript">var SC_CId = "108990",SC_Domain="n.ads3-adnow.com";SC_Start_108990=(new Date).getTime();</script>
  <script type="text/javascript" src="http://st.n.ads3-adnow.com/js/adv_out.js"></script>
</section>
<div class="container">
  <div class="description_movie">
    <h1 id="title_movie">
      <%= @movie.title %>
    </h1>
    <div class="text-left">
      <%= t "movies.popover.category" %>
      <%= render "contain_category" %>
    </div>
    <div class="text-left">
      <%= t "movies.popover.publish_date" %>
      <h5><%= link_to @movie.year_number, @movie.year %></h5>
    </div>
    <hr>
    <div class="wall">
      <div id="description_movie">
        <p><%= @movie.description %></p>
      </div>
    </div>
    <div class="movie-suggestion">
      <%= render "suggestion_movie" %>
    </div>
    <div id="paginator-suggest-movie">
      <%= render "shared/pagenator", objects: @movie_suggestions, page: 3 %>
    </div>
  </div>
</div>
