<div id="instructions">
  <video class="video-js vjs-default-skin fix_video" width="640px" height="267px"
      controls preload="none" poster="http://video-js.zencoder.com/oceans-clip.jpg"
      data-setup="{"aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }">
    <source src="https://r4---sn-i3b7rn7k.c.docs.google.com/videoplayback?requiressl=yes&id=f08b4b790aa89053&itag=18&source=webdrive&app=texmex&ip=113.23.59.85&ipbits=8&expire=1444323887&sparams=requiressl,id,itag,source,ip,ipbits,expire&signature=7EC87D7C1B318662A41CFE3508F798F229CF74DC.A5B86191CD9B01AC3FEE0F40433FCD36A8187B3A&key=ck2&mm=30&mn=sn-i3b7rn7k&ms=nxu&mt=1444320161&mv=m&nh=IgpwcjA1LmhrZzAxKgkxMjcuMC4wLjE&pl=21&cpn=gruJzJh_kVJdlZMt&c=WEB&cver=html5" type="video/mp4" />
  </video>
</div>
<div class="container">
  <div class="description_movie">
    <h3 id="title_movie">
      <%= @movie.title %>
    </h3>
    <%= t ("movies.popover.publish_date") %><%= @movie.publish_date %>
    <hr>
    <div class="wall">
      <div id="description_movie">
        <%= @movie.description %>
      </div>
    </div>
    <%= render "contain_movie" %>
  </div>
</div>
