
<div id="instructions">
  <video class="video-js vjs-default-skin fix_video" width="640px" height="267px"
      controls preload="none" poster="http://video-js.zencoder.com/oceans-clip.jpg"
      data-setup="{"aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }">
    <source src="https://googledrive.com/host/0B7kOlRv8XBC3Rm02WE1KME0xVFk" type="video/mp4" />
  </video>
  <%= render "shared/facebook" %>
</div>
<div class="container">
  <div class="description_movie">
    <h3 id="title_movie">
      <%= @movie.title %>
    </h3>
    <div class="text-left">
      <%= t "movies.popover.category" %>
      <%= render "contain_category" %>
    </div>
    <div class="text-left">
      <%= t "movies.popover.publish_date" %><%= @movie.year_number %>
    </div>
    <hr>
    <div class="wall">
      <div id="description_movie">
        <%= @movie.description %>
      </div>
    </div>
    <%= render "contain_movie" %>
  </div>
</div>
