<section class="main-preview-player">
  <%= render "shared/announced" %>
  <div id="instructions" rel="noindex, nofollow">
    <%= render "shared/media_player" %>
    <%= render "shared/facebook" %>
  </div>
  <%= render "shared/google_advertise" %>
</section>
<div class="container">
  <div class="description_movie">
    <h1 id="title_movie">
      <%= @movie.title %>
    </h1>
    <div class="text-left">
      <%= t "movies.popover.category" %>
      <%= render "contain_category" %>
    </div>
    <div class="text-left">
      <%= t "movies.popover.publish_date" %>
      <h5><%= link_to @movie.year_number, @movie.year %></h5>
    </div>
    <hr>
    <div class="wall">
      <div id="description_movie">
        <p><%= @movie.description %></p>
      </div>
    </div>
    <div class="movie-suggestion">
      <%= render "suggestion_movie" %>
    </div>
    <div id="paginator-suggest-movie">
      <%= render "shared/pagenator", objects: @movie_suggestions, page: 3 %>
    </div>
  </div>
</div>
