<section class="main-preview-player">
  <%= render "shared/announced" %>
  <div id="instructions" rel="noindex, nofollow">
    <% if @progress_status.present? %>
      <% if @progress_status.status_progress == Settings.status_progress.start %>
        <%= image_tag "loader.gif", id: "loader", height: 300, width: 300 %>
        Please wait for <span id="duration">50s</span> for movie come
      <% end %>
    <% else %>
    <div class="media-player">
      <%= render "shared/media_player" %>
    </div>
    <% end %>
    <div>
    <h3>If the player does not work, <%= link_to "Clik Here", @link_default %> to use your device's player/try to disable IPv6</h3>
    </div>
  </div>
</section>
<div class="container">
  <%= render "shared/mdgid_advertise" %>
</div>
<div class="container">
  <div class="description_movie">
    <h1 id="title_movie">
      <%= @movie.title %>
    </h1>
    <div class="text-left">
      <%= t "movies.popover.publish_date" %>
      <h5><%= link_to @movie.year_number, @movie.year %></h5>
    </div>
    <hr>
    <div class="wall">
      <div id="description_movie">
        <p><%= @movie.description %></p>
      </div>
    </div>
    <div id="paginator-suggest-movie">
      <%= render "shared/google_advertise" %>
    </div>
  </div>
</div>
