<div class="container">
  <%= render "shared/announced" %>
  <%= render "shared/media_player" %>
  <h3>If the player does not work, <%= link_to "Clik Here", @link_default %> to use your device's player/try to disable IPv6</h3>
</div>
<div class="container">
  <%= render "shared/mdgid_advertise" %>
</div>
<div class="container">
  <div class="description_movie">
    <h1 id="title_movie">
      <%= @movie.title %>
    </h1>
    <div class="text-left">
      <%= t "movies.popover.publish_date" %>
      <h5><%= link_to @movie.year_number, @movie.year %></h5>
    </div>
    <hr>
    <div class="wall">
      <div id="description_movie">
        <p><%= @movie.description %></p>
      </div>
    </div>
    <div id="paginator-suggest-movie">
      <%= render "shared/google_advertise" %>
    </div>
  </div>
</div>
