<section class="main-preview-player">
  <div id="instructions">
    <% if @movie.link.status_link? %>
      <video class="video-js vjs-default-skin" controls preload="auto" width="700" height="400" poster="<%= @movie.photo %>" data-setup="{}">
        <source src="<%= @movie.link.url %>" type="video/mp4">
      </video>
    <% else %>
      <%= image_tag "logo.png", id: "player_logo" %>
      <iframe src="<%= @movie.link.url %>/preview" width="700" height="400" allowfullscreen></iframe>
       <noembed><%= @movie.title %></noembed>
    <% end %>
    <%= render "shared/facebook" %>
    <%= render "shared/impression" %>
  </div>
</section>
<script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=87702_142417_5'></script>
<div class="container">
  <div class="description_movie">
    <h1 id="title_movie">
      <%= @movie.title %>
    </h1>
    <div class="text-left">
      <%= t "movies.popover.category" %>
      <%= render "contain_category" %>
    </div>
    <div class="text-left">
      <%= t "movies.popover.publish_date" %>
      <h5><%= link_to @movie.year_number, @movie.year %></h5>
    </div>
    <hr>
    <div class="wall">
      <div id="description_movie">
        <p><%= @movie.description %></p>
      </div>
    </div>
    <div class="movie-suggestion">
      <%= render "suggestion_movie" %>
    </div>
    <div id="paginator-suggest-movie">
      <%= render "shared/pagenator", objects: @movie_suggestions, page: 3 %>
    </div>
  </div>
</div>
