<% meta title: t("app_name"), description: t("description"),
  keywords: %w(movies khmer moviehd moviehdkh watch),
  "admicro-site-verification": "c546ee9c9d047c426bee782799889e1d" %>
<% content_for :context_menu do %>
  <div class="container">
    <% if @movies.present? %>
      <div class="new-movie">
        <%= render "content_new_movie" %>
      </div>
      <hr/>
      <div class="container">
        <%= render "shared/mdgid_advertise" %>
      </div>
      <div id="paginator-new-movie">
        <span class="badge pagination">
          <%= link_to_previous_page @movies, "Previous Page" %>
        </span>
        <span class="badge pagination">
          <%= link_to_next_page @movies, "Next Page" %>
        </span>
        <%= render "shared/google_advertise" %>
      </div>
    <% end %>
<% end %>
