<% meta title: t("app_name"), description: t("description"),
  keywords: %w(movies khmer moviehd moviehdkh watch) %>
<% content_for :context_menu do %>
  <div class="container">
    <% if @movies.present? %>
      <div class="new-movie">
        <%= render "content_new_movie" %>
      </div>
      <div id="paginator-new-movie">
        <%= render "shared/pagenator", objects: @movies, page: 1 %>
      </div>
    <% end %>
    <hr/>
    <h3 class="text-warning text-left">>><%= t "home.popular_movie" %></h3>
    <ul class="list-unstyled list-inline">
      <%= render partial: "shared/po_pular_movie", collection: @po_pular_movies %>
    </ul>
    <hr/>
    <h3 class="text-warning text-left">>><%= t "home.request_movie" %></h3>
    <ul class="list-unstyled list-inline">
      <%= render partial: "shared/request_movie", collection: @request_movies %>
    </ul>
    <hr/>
    <h3 class="text-warning text-left">>><%= t "home.coming_soon_movie" %></h3>
    <ul class="list-unstyled list-inline">
      <%= render partial: "shared/coming_soon_movie", collection: @coming_soon_movies %>
    </ul>
  </div>
<iframe src="http://yx-ads6.com/banner_show.php?section=General&amp;pub=715115&amp;format=300x250&amp;ga=g" frameborder="0" scrolling="no" width="300" height="250" marginwidth="0" marginheight="0"></iframe>
<script type="text/javascript" src="http://yx-ads6.com/layer.php?section=General&pub=715115&ga=g&show=1&fp"></script>
<iframe src="http://yx-ads6.com/banner_show.php?section=General&amp;pub=715115&amp;format=300x50&amp;ga=g" frameborder="0" scrolling="no" width="300" height="50" marginwidth="0" marginheight="0"></iframe>
<% end %>
