<% meta title: t("app_name"), description: t("description"),
  keywords: %w(movies khmer moviehd moviehdkh watch) %>
<% content_for :context_menu do %>
  <div class="container">
    <%= render "shared/google_advertise" %>
    <% if @movies.present? %>
      <div class="new-movie">
        <%= render "content_new_movie" %>
      </div>
      <div id="paginator-new-movie">
        <%= render "shared/pagenator", objects: @movies, page: 1 %>
      </div>
    <% end %>
    <hr/>
    <%= render "shared/mdgid_advertise" %>
    <h3 class="text-warning text-left">>><%= t "home.popular_movie" %></h3>
    <ul class="list-unstyled list-inline">
      <%= render partial: "shared/po_pular_movie", collection: @po_pular_movies %>
    </ul>
    <hr/>
    <h3 class="text-warning text-left">>><%= t "home.request_movie" %></h3>
    <ul class="list-unstyled list-inline">
      <%= render partial: "shared/request_movie", collection: @request_movies %>
    </ul>
    <hr/>
    <h3 class="text-warning text-left">>><%= t "home.coming_soon_movie" %></h3>
    <ul class="list-unstyled list-inline">
      <%= render partial: "shared/coming_soon_movie", collection: @coming_soon_movies %>
    </ul>
  </div>
<% end %>
