<script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=87702_142417_4&type=footer&size=728x90'></script>
<footer class="footer">
  <div class="container">
    <hr/>
    <div class="row text-warning" id="flooter">
      <div class="row">
        <div class="col-xs-4">
          <div class="col-xs-12 text-left" id="page-facebook-title"><i class="fa fa-home fa-fw"></i> <%= t "layouts.title" %></div>
          <div class="col-xs-12 text-left">
            <div class="fb-page" data-href="https://www.facebook.com/Moviehd-KH-1620874931515181"
              data-width="200" data-hide-cover="false" data-show-facepile="true"
              data-show-posts="false"></div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="col-xs-12">
            <div class="text-center"><i class="fa fa-location-arrow"></i> <%= t "layouts.location" %></div>
            <div class="text-center"><i class="fa fa-envelope-o fa-fw"></i> <%= t "layouts.email" %></div>
            <div class="text-center">Find us on:</div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="social-network">
                <span class="badge">
                  <%= link_to "https://www.youtube.com/channel/UCTgXlEkhNwhx-hIxXglTdzw" do %>
                    <%= image_tag "YouTube-logo-full_color.png", id: "youtube-logo" %>
                  <% end %>
                </span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="social-network">
                <span class="badge">
                  <%= link_to "https://plus.google.com/u/2/113389203002978532125" do %>
                    <%= image_tag "gplus.png", id: "plus-logo" %>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="text-rigth"><span>MoviehdKH</span> Provide the movies hd online and free. you can request the movie from our website.</div>
          <div class="text-rigth" id="category-name-footer">
            <% @categories.each do |category| %>
              <span class="badge span_category"><%= link_to category.name, category %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-warning">
        <span class="badge logo-social"><h5><%= t "disclaimer_policy.title" %></h5></span>
        <p><%= t "disclaimer_policy.body" %></p>
      </div>
    </div>
    <hr/>
    <div class="text-warning"><%= t "layouts.moviehd_kh" %></div>
  </div>
</footer>
