<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", id: "header-logo", alt: "Moviehd KH" %>
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse out" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle header-item" data-toggle="dropdown">
            <%= t "layouts.movie" %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if @categories.present? %>
              <% @categories.each do |category| %>
                <li class="hvr-grow-shadow"><%= link_to category.name, category_path(category) %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle header-item" data-toggle="dropdown">
            <%= t "layouts.year" %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if @years.present? %>
              <% @years.each do |year| %>
                <li class="hvr-grow-shadow"><%= link_to year.number, year_path(year) %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li><%= link_to t("layouts.animie"), "http://bakaani.com/", class: "header-item" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layouts.request"), "https://www.facebook.com/messages/movieshdkh", class: "header-item" %></li>
        <li><%= link_to t("layouts.search"), searchs_path, class: "header-item" %> </li>
      </ul>
    </div>
  </div>
</nav>
