<% if @movie.link.sky_drive? %>
  <iframe style="width: 700px; height: 552px; border: 0px;" scrolling="no" src="https://onedrive.live.com/prev?cid=<%= @movie.link.cid %>&amp;id=<%= @movie.link.sky_id %>&amp;authkey=!<%= @movie.link.authkey %>&amp;parId=root&amp;view=video&amp;mode=interactiveEmbed" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
<% elsif @movie.link.google_plus? || @movie.link.drive? %>
  <div id="resource" data-default="<%= @link_default %>" data-hd="<%= @link_hd %>" data-sub="<%= @movie.link.subtitle %>">
  <video id="video_html5_api" class="video-js vjs-default-skin" controls
   preload="auto" width="700" height="400" data-setup='' autoplay="true">
   <source src="<%= @link_default %>" type="video/mp4" type='video/mp4' data-res="SD" data-default="true"/>
   <source src="<%= @link_hd %>" type="video/mp4" type='video/mp4' data-res="HD"/>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser
      that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
<% elsif @movie.link.amazon? %>
  <div id="player" data-url="<%= @movie.link.amazon_url %>" ></div>
<% else %>
  <%= image_tag "logo.png", id: "player_logo" %>
    <iframe src="<%= @movie.link.youtube_embed_link %>" width ="700" height="400" allowfullscreen></iframe>
   <noembed><%= @movie.title %></noembed>
<% end %>
<span class="text-warning">Quality Video:</span>
<%= link_to "360", "javascript:void(0)", class: "btn btn-info", id: "360p" %>
<%= link_to "720", "javascript:void(0)", class: "btn btn-default", id: "720p" %>
