<% meta title: t("app_category", category: @category.name), description: t("description"),
  keywords: %w(movies khmer moviehd moviehdkh watch) %>
<div class="container">
  <%= render "shared/google_advertise" %>
  <%= render "shared/mdgid_advertise" %>
  <% if @movies.present? %>
    <div class="category">
      <h2 class="text-left" id="category-name"><%= @category.name %></h2>
      <hr/>
      <ul class="list-unstyled list-inline">
        <%= render @movies %>
      </ul>
      <%= paginate @movies %>
    </div>
  <% end %>
</div>
