<% meta title: t("app_year", year: @year.number), description: t("description"),
  keywords: "movies, khmer, moviehd, moviehdkh, watch, hd, cartoon, drama",
  "admicro-site-verification": "c546ee9c9d047c426bee782799889e1d" %>
<div class="container">
  <%= render "shared/google_advertise" %>
  <%= render "shared/mdgid_advertise" %>
  <div class="category text-center">
    <h2 class="text-left" id="category-name"><%= @year.number %></h2>
    <hr/>
    <ul class="list-movie">
      <%= render @movies %>
    </ul>
    <%= paginate @movies %>
  </div>
  <%= render "shared/mdgid_advertise" %>
</div>
