<!DOCTYPE html>
<html>
  <head>
    <%= metamagic %>
    <%= favicon_link_tag "cover1.ico" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <%= yield :context_mid %>
      <%= yield %>
  </body>
</html>
