<!DOCTYPE html>
<html>
  <head>
    <title><%= t "app_name" %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <%= render "shared/header" %>
      <%= render "shared/main_nav" %>
      <div id="main" class="col-md-12">


        <div id="content" class="col-md-8">
          <%= yield :context_menu %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
