<!DOCTYPE html>
<html>
  <head>
    <title><%= t "app_name" %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

      <%= render "shared/header" %>
      <div id="main">
        <%= yield :context_mid %>
        <%= yield %>
      </div>
      <%= render "shared/flooter"%>
  </body>
</html>
