<!DOCTYPE html>
<html>
  <head>
    <title><%= t "app_name" %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

      <%= render "shared/header" %>
      <div id="main" class="col-md-12">
        <div id="sidebar_right" class="col-md-2">
          <%= yield :left %>
        </div>

        <div id="content_mid">
          <%= yield :context_mid %>
        </div>

        <div id="sidebar_left" class="col-md-2">
          <%= yield :right %>
        </div>
      </div>
      <%= render "shared/flooter"%>
  </body>
</html>
