<!DOCTYPE html>
<html>
  <head>
    <title><%= t "app_name" %></title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="logo.png">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/flooter"%>
  </body>
</html>
