<!DOCTYPE html>
<html>
  <head>
    <title><%= t "app_name" %></title>
    <META NAME="Description" CONTENT="MovieHDKh  online, free movie and online">
    <META NAME="KEYWORDS" CONTENT="hd,movie,kh,khmer,online,moviehd,moviekhmer,movie,movie khmer, cartoon network, cartoon hd">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/flooter"%>
  </body>
</html>
